/* styles.css */
body { 
  background-color:  #d9eaff; /* Light blue background */
  color: #333333; /* Dark gray text color */
  font-family: 'Roboto Mono', monospace; /* Font family for developer */
}

#about {
  margin: 20px auto; /* Adjust the margin values as desired */
  padding: 10px;
  max-width: 800px;
  background-color:rgba(240, 245, 253, 0.5); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.project-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  box-shadow: 0 2px 4px rgba(254, 189, 105, 0.1);
  margin: 0 auto;  
}

.project-1,
.project-2,
.project-3 {
  flex: 1 0 30%;
  margin: 0 10px;
  width: 350px;
  box-shadow: 0 2px 4px rgb(222, 184, 135, 0.2);
  padding: 10px;
  background-color: rgb(245, 245, 245, 0.3);
  transition: transform 0.3s, opacity 0.3s; /* Add transition for smooth animation */
}

.project-container:hover .project-1:not(:hover),
.project-container:hover .project-2:not(:hover),
.project-container:hover .project-3:not(:hover) {
  opacity: 0.5; /* Fade out the colors of non-hovered projects */
}

.project-1:hover,
.project-2:hover,
.project-3:hover {
  transform: scale(1.1); /* Zoom in by increasing the scale */
}

.project-1,
.project-2,
.project-3,
img {
  max-width: 80%;
  height: auto;
  text-align: center;
}

#projects h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

a {
  text-decoration: none;
}

.robo {
  width: 100px;
}

p {
  color: #555555; /* Dark gray paragraph color */
}

#social-icons-container {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.icon {
  width: 30px;
  height: auto;
  margin: 0 15px;
  opacity: 0;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.1);
}

.i {
  width: 30px;
  transition: transform 0.3s;  
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.i:hover {
  transform: scale(1.1);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #d9eaff; /* White footer background */
  color: #555555; /* Dark gray text color */
}

#typing-text {
  white-space: pre-line; /* Preserve line breaks */
  overflow: hidden; /* Hide overflowing text */
  opacity: 0; /* Hide the text initially */
}

#animation-heading {
  opacity: 0;
  transform: translateX(-50px);
  animation: slide-in-fade-in 1s forwards;
  text-align: center;
  font-family: 'Roboto-Mono', monospace;
}

@keyframes slide-in-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

