/* styles.css */
body {
  background-color: #d9eaff; /* Light gray background */
  color: #333333; /* Dark gray text color */
  font-family: 'Roboto Mono', monospace; /* Font family for the body */
}

a {
  text-decoration: none; /* Add underline to links */
  color: #007bff; /* Blue link color */
}

p {
  color: #777777; /* Light gray paragraph color */
  line-height: 1.5; /* Increase line height for better readability */
}

h2, h3 {
  font-size: 24px; /* Decrease heading font size */
  color: #333333;
  margin: 20px 0; /* Adjust margin values */
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

#about {
  margin: 40px auto; /* Increase margin for the about section */
  padding: 20px; /* Increase padding for better spacing */
  max-width: 900px; /* Increase max-width for wider content */
  background-color: rgba(240, 240, 240, 0.2); /* Light gray background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project-container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 90%; /* Increase width for wider container */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 40px; /* Add margin bottom for better spacing */
}

.project {  
  flex: 1 0 30%;
  margin: 0 10px;
  width: 350px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Increase padding for better spacing */
  background-color: rgba(255, 255, 255, 0.1); /* White background */
  transition: transform 0.3s, opacity 0.3s;
}

.project-container:hover .project:not(:hover)
 {
  opacity: 0.5; /* Reduce opacity for non-hovered projects */
}

.project:hover
 {
  transform: scale(1.05); /* Slightly zoom in on hover */
}

.project,
img {
  max-width: 100%; /* Make images responsive */
  height: auto;
  text-align: center;
}

#projects h1 {
  font-size: 28px; /* Increase heading font size */
  margin-bottom: 30px; /* Adjust margin bottom */
  color: #333;
  text-align: center;
}

.robo {
  width: 150px; /* Increase robot image size */
  animation: fade-in 5s ease-in-out; /* Adjust animation duration */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#social-icons-container {
  opacity: 1; /* Set initial opacity to 1 for immediate visibility */
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.icon {
  width: 40px; /* Increase icon size */
  height: auto;
  margin: 0 15px;
  opacity: 0; /* Adjust opacity for better visibility */
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.1); /* Increase scale on hover */
}

#github {
  width: 40px; /* Increase GitHub icon size */
  transition: transform 0.3s;
  position: relative;
  top: -20px;
  margin: -10px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#github:hover {
  transform: scale(1.1); /* Increase scale on hover */
}

#typing-text {
  white-space: pre-line;
  overflow: hidden;
  opacity: 0;
}

#animation-heading {
  position: relative;
  top: -10px;
  opacity: 0;
  transform: translateX(-50px);
  animation: slide-in-fade-in 1s forwards;
  text-align: center;
  font-family: 'Roboto-Mono', monospace;
}

@keyframes slide-in-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.section-divider {
  height: 1px; /* Decrease height of section divider */
  background: linear-gradient(to right, #f0f0f0, #ffffff, #f0f0f0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  margin: 20px 0;
}

footer {
  text-align: center;
  margin-top: auto;
  padding: 20px; /* Increase padding for better spacing */  
  color: #777777; /* Light gray text color */
  font-size: 14px; /* Decrease font size for the footer */
}
